@charset "utf-8";
html, body{width: 100%; height: 100%;}
#root>header.Friends{background: #513736;}

main#Friends{height: 85.8%; padding-top: 64px;} /*723*/
#Friends .search_box{display: flex; flex-direction: column; justify-content: center; height: 7.3%; min-height: 53px;}
#Friends .search_inner{display: flex; justify-content: space-between; width: 88%; height: 50%; margin: 0 auto; background-color: #F1F2F4; border-radius: 5px;}
#Friends .search_inner i{font-size: 16px; color: #BEBCC1; align-self: center; margin-left: 15px;}
#Friends .search_inner input{width: 90%; background: transparent; border: none; padding: 0 15px;}
#Friends .search_inner input::placeholder{text-align: center;}

#Friends .main_section header{height: 32px; line-height: 32px; padding-left: 15px; border: 1px solid #ebebeb; border-left: none; border-right: none; color: #B6B5B1;}
#Friends .main_section ul{display: flex; flex-direction: column;}
#Friends .main_section ul li a{display: flex; align-items: center; font-size: 16px;}
#Friends .main_section .profile_img{display: block; width: 40px; height: 40px; margin: 10px 15px; background: url(../images/empty.jpg) 0 0 /cover no-repeat; border-radius: 20px;}
#Friends .main_section .profile_name{flex: auto;}
#Friends .main_section .profile_messages{height: 30px; line-height: 30px; margin-right: 15px; padding: 0 10px; border-radius: 5px; background: #F0F0F0; font-size: 10px; color: #8E9399;}